:root {
  --baseColor: #f7f7f8;
  --textColor: #6d6d6d;
}

@font-face {
  font-family: 'Basis';
  src: url('../fonts/basis/basis-grotesque-light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Basis';
  src: url('../fonts/basis/basis-grotesque-light-italic.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Basis';
  src: url('../fonts/basis/basis-grotesque-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Basis';
  src: url('../fonts/basis/basis-grotesque-italic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Basis';
  src: url('../fonts/basis/basis-grotesque-medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Basis';
  src: url('../fonts/basis/basis-grotesque-medium-italic.woff') format('woff');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'Basis';
  src: url('../fonts/basis/basis-grotesque-bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Basis';
  src: url('../fonts/basis/basis-grotesque-bold-italic.woff') format('woff');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Basis';
  src: url('../fonts/basis/basis-grotesque-black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Basis';
  src: url('../fonts/basis/basis-grotesque-black-italic.woff') format('woff');
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: 'Basis Mono';
  src: url('../fonts/basis/basis-grotesque-mono-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Basis Mono';
  src: url('../fonts/basis/basis-grotesque-mono-italic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Basis Mono';
  src: url('../fonts/basis/basis-grotesque-mono-bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Basis Mono';
  src: url('../fonts/basis/basis-grotesque-mono-bold-italic.woff') format('woff');
  font-style: italic;
  font-weight: 700;
}

body {
  background: var(--baseColor) !important;
  color: var(--textColor);
  font-family: Basis,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 20px;
}

a {
  color: #979797;
  text-decoration: none;
  font-weight: inherit;
}

.login-pf-page a:focus, .login-pf-page a:hover {
  color: #12d3d8;
  text-decoration: underline;
}

h1, .login-pf-page .login-pf-header h1 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #281946;
}

h2, .login-pf-page .login-pf-header h1 {
  font-size: 20px;
  text-align: center;
  color: #281946;
  line-height: 1.4;
}

.tp-btn {
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  background-image: none;
  border: 0 solid #979797;
  border-radius: 4px;
  font-size: 14px;
  line-height: 26px;
  padding: 7px 26px;
}

.tp-btn:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
}

a.tp-btn-primary:hover, .tp-btn-primary:hover:enabled {
  background-color: #281946;
  color: #fff;
  text-decoration: none;
}

.tp-btn-default {
  background-color: #f1f1f1;
}

.tp-btn-default:hover:enabled {
  background-color: #d8d8d8;
}

.tp-btn-primary {
  background-color: #627cff;
  color: #fff;
}

.tp-btn-fw {
  width: 100%;
}

.tp-form-error {
  color: #de514b;
  font-size: 16px;
  margin-top: 5px;
}

.tp-alert {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.login-pf-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

#kc-select-try-another-way-form {
  display: none;
}

/* Sign Up Link */
.login-pf-page #kc-registration {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}

.login-pf-page #kc-registration i {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 20px;
}

.login-pf-page #kc-registration a {
  color: #627cff;
  margin-left: 0;
}

.login-pf-page #kc-registration a:hover {
  color: #281946;
  text-decoration: none;
}

#kc-info-wrapper {
  background-color: inherit;
}

/* Login Card */
.login-pf-page .card-pf {
  border: 0;
  background: var(--baseColor);
  box-shadow: none;
  padding: 0;
  max-width: inherit;
  width: 100%;
  margin-bottom: auto;
}

@media (max-width: 767px) {
  .login-pf-page .card-pf {
    max-width: none;
    margin: 0 auto;
  }
}

.login-pf-page .login-pf-header, .login-pf-page #kc-page-title {
  margin: 0;
}

.login-pf-page .login-pf-header {
  padding-left: 20px;
  padding-right: 20px;
}

.login-pf-page .card-pf .logo {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 27px;
}

.logo-link {
  text-align: center;
}

@media(min-width: 512px) {
  .login-pf-page .card-pf .logo {
    height: 45px;
  }
}

.login-pf-page #kc-content {
  padding-left: 20px;
  padding-right: 20px;
}

.login-pf-page #kc-content-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.login-pf-page #kc-form-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.login-pf-page #kc-form, .login-pf-page #kc-register-form, .login-pf-page #tp-role-prompt {
  margin: 0 auto;
  position: relative;
}

.login-pf-page form {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.login-pf-page form > input[type=submit], .login-pf-page form > button[type=submit] {
  float: right;
  margin-left: 10px;
}

.login-pf-page #kc-form, .login-pf-page #kc-register-form {
  max-width: 360px;
}

@media (min-width: 580px) {
  .login-pf-page #kc-form, .login-pf-page #kc-register-form {
    max-width: 360px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: 580px) {
  .login-pf-page #kc-form, .login-pf-page #kc-register-form, .login-pf-page #tp-role-prompt {
    width: 500px;
    max-width: inherit;
  }
}

@media(max-width: 580px) {
  .login-pf-page #kc-form, .login-pf-page #kc-register-form, .login-pf-page #tp-role-prompt {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}

.login-pf-page .tp-form-control {
  width: 100%;
  font-size: 16px;
  height: 40px;
  line-height: 20px;
  vertical-align: middle;
  padding: 9px 5px;
  border: 1px solid #979797;
  border-radius: 0;
  background: #fff;
}

.login-pf-page .tp-form-control:not([disabled]):not([readonly]) {
  color: #000;
}

.login-pf-page .form-group {
  max-width: 360px;
  margin: 15px auto 0;
  display: flow-root;
}

.login-pf-page .tp-form-control::placeholder {
  font-size: 14px;
}

.login-pf-page .tp-form-control:hover, .login-pf-page .tp-form-control:focus, .login-pf-page .tp-form-control:focus-visible {
  border-color: #627cff;
  outline: 0;
}

.login-pf-page label {
  font-size: 14px;
  color: #979797;
}

/* Remember me toggle */
.login-pf-page #kc-form-options .checkbox {
  margin-bottom: 0;
}

/* Attempted username */
.attempted-username {
  display: flex;
  align-items: center;
  border: 1px solid #979797;
  background-color: #fff;
}

.attempted-username .tp-form-control {
  border: 0;
}

.attempted-username .embedded-link {
  color: #627cff;
  white-space: nowrap;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 14px;
}

.attempted-username .embedded-link:hover {
  color: #281946;
  text-decoration: none;
}

/* Password visibility toggle */
.tp-password-visibility:after {
  border-color: #979797;
}

.tp-password-visibility:after:hover {
  border-color: #6078ff;
}

/* Forgot password */
.login-pf-page .tp-form-options-wrapper {
  font-size: 12px;
}

.login-pf-page .tp-form-options-wrapper a {
  font-weight: normal;
}

.login-pf-page #kc-form-buttons {
  display: flex;
  align-items: center;
}

.login-pf-page #kc-form-buttons input[type="submit"], .login-pf-page #kc-form-buttons button[type="submit"] {
  margin-left: auto;
}

/* Register */
.login-pf-page .pf-c-form__label-text {
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 20px;
}

#kc-register-form input[type=submit] {
  width: 100%;
  margin-top: 20px;
}

.tp-register-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #281946;
  margin-top: 40px;
}

/* Footer */
.tp-footer {
  margin-top: auto;
  margin-bottom: 40px;
}

.footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-link.social-media {
  display: flex;
}

@media (max-width: 1279px) {
  .footer-link.large-format-only {
    display: none;
  }
}

.footer-link {
  display: inline-block;
  font-size: 14px;
}

.footer-link.secondary a {
  margin: 0 1.5em;
}

.jdrf-logo-container {
  width: 121px;
  height: 31px;
  position: relative;
  display: inline-block;
}

.jdrf-logo-container .jdrf-logo-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.jdrf-logo-container:hover .jdrf-logo-hover, #jdrf:hover .jdrf-logo-hover {
  display: inline;
}

.footer-link a svg {
  fill: #979797;
}

.footer-link a svg:hover {
  fill: #12d3d8;
}

svg:not(:root) {
  overflow: hidden;
}
svg {
  display: block;
  margin: 0 auto;
}

.footer-facebook {
  width: 32px;
  height: 32px;
  margin-left: 20px;
}

.footer-twitter {
  width: 44.8px;
  height: 32px;
}

/* Role Prompt */

#tp-role-prompt label {
  width: 100%;
}

#tp-role-prompt .role-prompt-continue {
  display: flex;
  flex-direction: row-reverse;
}

#tp-role-prompt #continue:disabled {
  opacity: 0.5;
}

#tp-role-prompt .role-prompt-title {
  margin-bottom: 25px;
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px 0;
  border: 1px solid #979797;
  font-weight: normal;
  padding: 15px;
  border-radius: 4px;
}

.card-input-check {
  width: 30px;
  height: 20px;
  display: none;
  margin-top: -5px;
}

.card-input-element:checked + .card-input, .card-input:hover {
  background-color: #fff;
  border-color: #6078ff;
  cursor: pointer;
}

.card-input-element:checked + .card-input .card-input-check {
  display: block;
}

.card-input-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.card-input-title {
  font-size: 18px;
  font-weight: 600;
  color: #6078ff;
}

.card-input-description {
  font-size: 18px;
  color: #6d6d6d;
  margin-bottom: 10px;
}

/* Terms */
.terms-radio {
  padding-bottom: 30px;
}

.terms-link {
  color: #0b9eb3;
  text-decoration: none;
}

.terms-radio label, .terms-checkbox label, .terms-sorry {
  color: #636363;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.center-form-buttons {
  text-align: center;
  margin-top: 10px;
}

.center-form-buttons input {
  margin-top: 10px;
}

.center-form-buttons input:not(:first-child) {
  margin-left: 10px;
}

.clinician-terms-wrapper {
  margin-top: 10px;
}

.clinician-terms-wrapper input {
  vertical-align: top;
}

.clinician-terms-wrapper label {
  max-width: 95%;
}

.mail-icon {
  height: 350px;
}

/* Link accounts */
p.instruction, .instruction {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  font-size: 18px;
  text-align: center;
  color: #281946;
  vertical-align: center;
}

.form-group > .instruction {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: left;
  color: inherit;
}
